/*
Theme Name: Lightning Child
Template: lightning
*/

/* メインビジュアル */
.section_mv__visual {
  display: flex;
  padding-bottom: 40px;
  min-height: clamp(500px, 70vh, 800px);
}

.section_mv__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.section_mv__text {
  color: #222;
  font-weight: bold;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 1.2;
}

/* 共通タイトル */
.section_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}

.section_title-en {
  display: inline-block;
  font-size: 32px;
}

.section_title-ja {
  display: inline-block;
  font-size: 14px;
}