/*
Theme Name: Lightning Child
Template: lightning
*/

/* header */
.site-header {
  padding: 20px 40px;
  background-color: #fff;
}

.site-header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 1200px;
}

.navbar-header {
  margin-right: auto;
}

.site-header_logo img {
  max-height: 60px;
  width: auto;
}

.global-nav {
  margin-left: auto;
}

.global-nav-list {
  gap: 18px;
}

.global-nav-list li a {
  letter-spacing: .05em;
  font-weight: 500;
  font-size: 14px;
}

/* ヘッダー下の余白をなくす */
.site-body {
  padding-top: 0 !important;
}

/* スマホ対応 */
@media (min-width: 1200px) {
  .site-body {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .site-body {
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) {
  .site-body {
    padding-top: 0 !important;
  }
}

/* メインビジュアル */
.section_mv__visual {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: clamp(30px, 6vw, 40px);
  min-height: clamp(500px, 70vh, 800px);
}

.section_mv__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.section_mv__text {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 600px;
  color: #222;
  font-weight: bold;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 1.2;
}

/* 共通幅 */
.l-container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
}



/* 共通タイトル */
.section_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}

.section_title-en {
  display: inline-block;
  font-size: 32px;
}

.section_title-ja {
  display: inline-block;
  font-size: 14px;
}


/* =========================
   Lightningボタンのデフォルトをリセット
========================= */

.c-btn .wp-block-button__link {
  border: none;
  background: none;
  box-shadow: none;
  color: inherit;
}

/* =========================
   オリジナルボタン
========================= */

.c-btn {
  display: inline-flex;
}

.c-btn .wp-block-button__link {
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  border-radius: 4px;
  background-color: #555;
  color: #fff !important;
  text-decoration: none;
  transition: .3s;
}


/* hover */

.c-btn .wp-block-button__link:hover {
  background-color: #999;
  transform: translateY(-2px);
}

/* 矢印 */

.c-btn .wp-block-button__link::after {
  content: '→';
  margin-left: 8px;
  transition: .3s;
}


.c-btn .wp-block-button__link:hover::after {
  transform: translateX(4px);
}

/* about */
.section_about {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 80px;
}

/* Works */
.works__swiper {
  overflow: visible;
}

.works__swiper .swiper-wrapper {
  align-items: center;
}

/* デフォルト（左右） */
.works__swiper .swiper-slide {
  width: 460px;
  opacity: .5;
  transition: all .4s;
  transform: scale(.75);
}

.works__swiper .swiper-slide-active {
  z-index: 10;
  opacity: 1;
  transform: scale(1.15);
}

/* footer */
/* フッター全体を消す */
.site-footer {
  display: none !important;
}

/* コピーライト部分 */
.site-footer-copyright {
  display: none !important;
}

/* powered by WordPress 部分 */
.site-footer .copySection {
  display: none !important;
}

/* ここからカスタマイズしたfooterのコード */
.footer {
  padding: 20px 40px;
  background: #e6e6e6;
}

.site-footer .container {
  max-width: 100% !important;
}

.footer-image {
  width: 180px;
}

.footer-image img {
  display: block;
  max-width: none;
  width: 100%;
  height: 40px;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.footer-nav {
  border-bottom: none;
}

.footer-nav-list {
  display: flex;
  list-style: none;
}