/*
Theme Name: Lightning Child
Template: lightning
*/

/* header */
.site-header {
  padding: 20px 40px;
  background-color: #fff;
}

.site-header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 1200px;
}

.navbar-header {
  margin-right: auto;
}

.site-header_logo img {
  max-height: 60px;
  width: auto;
}

.global-nav {
  margin-left: auto;
}

.global-nav-list {
  gap: 18px;
}

.global-nav-list li a {
  letter-spacing: .05em;
  font-weight: 500;
  font-size: 14px;
}

/* ヘッダー下の余白をなくす */
.site-body {
  padding-top: 0 !important;
}

/* スマホ対応 */
@media (min-width: 1200px) {
  .site-body {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .site-body {
    padding-top: 0 !important;
  }
}

@media (min-width: 768px) {
  .site-body {
    padding-top: 0 !important;
  }
}

/* メインビジュアル */
.section_mv__visual {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: clamp(30px, 6vw, 40px);
  min-height: clamp(500px, 70vh, 800px);
}

.section_mv__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.section_mv__text {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 600px;
  color: #222;
  font-weight: bold;
  font-size: clamp(24px, 5vw, 48px);
  line-height: 1.2;
}

/* 共通タイトル */
.section_title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}

.section_title-en {
  display: inline-block;
  font-size: 32px;
}

.section_title-ja {
  display: inline-block;
  font-size: 14px;
}

/* 共通ボタン */
.c-btn {
  display: inline-flex;
}

.c-btn .wp-block-button__link {
  display: inline-block;
  padding: 10px 20px;
  width: auto;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}

.c-btn .wp-block-button__link:hover {
  background-color: #999;
  transform: translateY(-2px);
}

.c-btn .wp-block-button__link:after {
  content: '→';
  margin-left: 8px;
  transition: .3s;
}

.c-btn .wp-block-button__link:hover:after {
  transform: translateX(4px);
}

/* about */
.section_about {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 80px;
}

/* footer */

/* .footer-nav {
  border-bottom: none;
}

.footer-nav ul {
  display: flex;
  gap: 18px;
  padding: 0;
  list-style: none;
}

.footer-nav ul li {
  padding: 0;
}

.site-footer {
  padding: 20px 40px;
  background-color: #fff;
}

.site-footer .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 1200px;
}

.navbar-footer {
  margin-right: auto;
}

.site-footer_logo img {
  max-height: 60px;
  width: auto;
}

.global-nav {
  margin-left: auto;
}

.global-nav-list {
  gap: 18px;
}

.global-nav-list li a {
  letter-spacing: .05em;
  font-weight: 500;
  font-size: 14px;
} */